os:
- linux
- osx
sudo: true
language: scala
dist: trusty
addons:
  apt:
    update: true
    packages:
    - numactl
    - libnuma1
    - libnuma-dev
    - libnuma-dbg
cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt
  - $HOME/ssl
  - $HOME/mongodb-linux-x86_64-amazon-3.2.10
  - $HOME/mongodb-linux-x86_64-amazon-4.2.1
env:
  - _DISABLED=true
matrix:
  include:
  - os: osx
    osx_image: xcode9.4
    language: java
    env: CI_CATEGORY=UNIT_TESTS OS_NAME=osx TRAVIS_SCALA_VERSION=2.11.12 REACTIVEMONGO_SHADED=false
  - os: linux
    env: CI_CATEGORY=UNIT_TESTS REACTIVEMONGO_SHADED=false
    jdk: oraclejdk9
    scala: 2.12.10
  - os: linux
    jdk: openjdk8
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.3.13 ITERATEES_VERSION=2.3.8 MONGO_PROFILE=default MONGO_VER=4 PUBLISHABLE=yes
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=default MONGO_VER=3
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=rs MONGO_VER=3
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=default MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=invalid-ssl MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=mutual-ssl MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.13.1 # 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=rs MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.12.10
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=x509 MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=default MONGO_VER=3
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=rs MONGO_VER=3
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=default MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=invalid-ssl MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=mutual-ssl MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=rs MONGO_VER=4
  - os: linux
    jdk: oraclejdk9
    scala: 2.13.1 # 2.11.12
    env: CI_CATEGORY=INTEGRATION_TESTS AKKA_VERSION=2.5.23 ITERATEES_VERSION=2.6.1 MONGO_PROFILE=x509 MONGO_VER=4
  exclude:
  - env: _DISABLED=true
before_install:
  - ./.ci_scripts/beforeInstall.sh $CI_CATEGORY $MONGO_VER $MONGO_PROFILE /tmp/integration-env.sh
  - if [ "x$CI_CATEGORY" = "xINTEGRATION_TESTS" ]; then (./.ci_scripts/fork-mongod.sh /tmp/integration-env.sh); fi
script:
  - export SCALA_VERSION="$TRAVIS_SCALA_VERSION"
  - ./.ci_scripts/retry.sh 3 ./.ci_scripts/validate.sh /tmp/integration-env.sh
after_success:
  - unset AKKA_VERSION ITERATEES_VERSION
  - CI_BRANCH=$TRAVIS_BRANCH ./.ci_scripts/afterSuccess.sh
