<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} ReactiveMongo %-5level [%logger{1.}] :: %msg%n" />
    </Console>
  </appenders>
  <loggers>
    <logger name="shaded.netty" level="ERROR" />
    <logger name="reactivemongo.api" level="ERROR" />
    <logger name="reactivemongo.api.Cursor" level="OFF" />
    <logger name="reactivemongo.core" level="OFF" />

    <root level="WARN">
      <appender-ref ref="Console"/>
    </root>
  </loggers>
</configuration>
